
<section class="s-block--special-products-slider2 ">
    <div class="min-h-[600px] w-full flex flex-col lg:flex-row justify-center items-stretch pt-8 relative h-full lg:space-y-0 lg:space-x-10">

        <div class="lg:w-1/3 flex items-center justify-center bg-cover bg-no-repeat text-center relative min-h-[200px] max-h-[250px] md:max-h-[700px] has-overlay--before has-overlay--opacity-option has-overlay--opacity-60" style="color:{{component.item2}}">
            {% if component.videotoimg    %}

            <img class="lazy w-full h-auto object-cover object-center min-h-[200px] max-h-[250px] lg:max-h-[700px] loaded" src="{{component.photo}}" alt="{{component.title}}" data-ll-status="loaded" loading="lazy">
            <!-- إذا كنت تريد الفيديو، قم بإلغاء تعليق هذا السطر -->


            {% else %}

            <video playsinline class="object-cover object-center w-full h-full min-h-[200px] max-h-[250px] lg:max-h-[700px]" loop autoplay muted src="{{component.url}}"></video>

            {% endif %}

            <div class="space-y-4 lg:space-y-8 absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center px-2.5 py-10 lg:p-10 z-[1]">
                <h2 class="text-2xl md:text-4xl font-bold !leading-[1.15]">{{component.title}}</h2>
                <p class="description max-w-[400px] text-sm sm:text-base">{{component.desc}}</p>
                <a class="advanced-slider__caption__inner__content__button outlined" style="background-color:{{component.item3}}" href="https://salla.sa/dev-flormi3pb6t1cfo7/redirect/categories/1232998349" tabindex="-1" style="background-color: transparent; border: 1px solid {{component.item4}}">
                    <span style="color:{{component.item4}}">{{component.item5}}</span>
                </a>
            </div>

        </div>

        <!-- إضافة div جديد لإضافة المسافة -->
        <div class="mt-5 "></div> <!-- هذا div لإضافة المسافة -->

        <div class="slider-wrap relative lg:w-2/3 pb-20 lg:pt-20 lg:pb-28 2xl:px-2.5">
            <salla-products-slider
                id="product-slider"
                class="simplified-products fit-slider-products s-products-slider-wrapper" autoplay
                type="carousel"
                {% if component.products|length %}
                    source="selected"
                    source-value="[{{ component.products|map((product) => product.id)|join(',') }}]"
                {% endif %}
                {% if display_all != '' and display_all != '#' %}
                    display-all-url="{{display_all}}"
                {% endif %}
                block-title=" "
                slider-id="slider-with-bg-{{ position }}">
            </salla-products-slider>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="art-countdown bg-gray-300 h-screen w-full relative bg-no-repeat bg-center bg-cover bg-origin-border overflow-hidden after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black/20 after:z-10 lg:px-10 md:px-5 px-1 lg:py-20 md:py-10 py-5" style="background-image: url( 'https://cdn.salla.sa/form-builder/yrLsNz44b9tu2YU0RnuLWHSHbu9kYuBnCLZuG7cz.jpg' );"><span class="s-design-before s-design-invisible-dom" id="edit-558759069"></span>
    <div class="container mx-auto w-full h-full relative z-20">
    <div class="grid md:grid-cols-2 grid-cols-1 justify-between items-center w-full h-full lg:gap-20 md:gap-10">
    <div class="flex flex-col gap-6 lg:px-10 md:order-last">
    <span class="art-text-subtitle capitalize text-[16px] font-[200] ltr:tracking-[1px]" style="color: #ffffff">احصل عليها قبل انتهاء العرض</span>
    <h2 class="art-text-title capitalize md:text-[34px] text-[28px] font-medium leading-[45px] ltr:tracking-[1px]" style="color: #ffffff" data-aos="zoom-out-up" data-aos-duration="800" data-aos-once="true">
    تخفيض حصري: شنط جلدية فاخرة
    </h2>
    <p class="art-text-description text-[17px]" style="color: #ffffff">سارعوا واستفيدوا من تخفيضنا المحدود على الشنط الجلدية الفاخرة. تقدم مجموعتنا تشكيلة من التصاميم التي تجمع بين العملية والأناقة، مما يجعل كل شنطة قطعة مميزة. مصنوعة من الجلد الفاخر</p>
    <div class="flex gap-2 group" data-aos="zoom-out" data-aos-duration="800" data-aos-once="true">
    <a href="https://salla.sa/dev-oqggslwyq7yuaskf/redirect/products/1285593759" target="_self">
    <button style="color: var(--color-primary-reverse); border-color: var(--color-primary);" class="art-text-button ltr:tracking-[3px] relative py-4 px-8 border-[1px] uppercase text-[16px] overflow-hidden duration-300 z-50 bg-transparent" fdprocessedid="k334vn">
    <span class="relative z-50">تسوق الان</span>
    <span class="absolute block top-0 left-0 w-full h-full scale-x-100 rtl:origin-right ltr:origin-left after:z-[-1] group-hover:scale-x-0 duration-500" style="background-color: var(--color-primary)"></span>
    </button>
    </a>
    </div>
    </div>
    <div class="flex justify-center items-center relative z-30 md:order-first">
    
    <salla-count-down color="#ffffff" labeled="true" date="2024-11-26" boxed="false" digits="ar" dir="rtl" size="lg" class="s-count-down-wrapper hydrated">
    <ul class="s-count-down-list s-count-down-lg s-count-down-#ffffff"><li class="s-count-down-item"><div class="s-count-down-item-value">41</div><div class="s-count-down-item-label">ثانية</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">18</div><div class="s-count-down-item-label">دقيقة</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">0</div><div class="s-count-down-item-label">ساعة</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">35</div><div class="s-count-down-item-label">يوم</div></li></ul></salla-count-down>
    </div>
    </div>
    </div>
    </section>

 
<style>
    .min-h-[250px] {
    min-height: 250px; /* حد أدنى لارتفاع الصورة */
}

.lg:max-h-[700px] {
    max-height: 700px; /* حد أقصى لارتفاع الصورة */
}
</style>