{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}

<section class="s-block s-block--features container bg-white py-8 sm:py-16  px-10 lg:py-24 justify-center">
  <div class="container mx-auto">
  <div class="xl:px-20 lg:px-6 py-10">
  <div class=" items-center text-center flex flex-col" >
    <h2 class=" text-2xl max-w-s md:max-w-2xl  md:text-start md:text-4xl font-bold md:!leading-12">
     {{ component.item }}

</h2>

    <p class=" mx-auto mt-6 max-w-xl text-lg md:text-xl leading-8 text-slate-400">
     
     {{ component.item_1 }}
     

      </p>
    
    </div> 
</div>

<div class="pt-2">
  <salla-slider  
  id="thumbs"
  show-controls="true" 
  type="carousel"
  block-title="{{ component.title }}"
  controls-outer
  
  class="s-slider-wrapper carousel-slider s-slider-has-notitle s-slider-v-centered s-slider-horizontal hydrated">

  <div class="swiper s-slider-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl swiper-backface-hidden" dir="rtl">
      
      <div class="swiper-wrapper s-slider-swiper-wrapper"  >
      {% for item in  component.features %}

        <div class="flex flex-col gap-6 text-center justify-center items-center swiper-slide swiper-slide-active" style="width: auto !important; min-width: 200px !important" >
      <span class="bg-[var(--color-primary)] text-[var(--color-primary-reverse)] {{ item.icon }} text-4xl text-white  rounded-[10px] mx-auto w-[100px] h-[100px] flex justify-center items-center"></span>
      <h4 class="text-[var(--color-primary-dark)] text-[22px] font-[500]">
        {{ item.title }}
      </h4>
      </div>

      {% endfor %}

    </div>
  

</div>



  </salla-slider>

</div>


</div>
</section>
<style>
 
  .yasmeen-features .yasmeen-features-slider .swiper-wrapper
  {justify-content:space-between!important}
</style>
