



<div class="2xl:container 2xl:mx-auto md:py-12 lg:px-20 md:px-6 py-9 px-4" style="background-color:{{component.colorback}};">
   <div class="text-center">
    <h2 class="font-semibold lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-gray-800 md:w-full w-9/12 mx-auto">
      {{ component.title }}
      <span><a href="{{ component.display_all_url }}">{{ component.titleurl }}</a></span>
    </h2>
    <p class="font-normal text-base leading-6 text-gray-600 mt-4 lg:w-5/12 md:w-9/12 mx-auto">
      {{ component.desc }} 
    </p>
  </div>
  <div class="flex gap-4 mt-10 justify-center flex-wrap">
    {% for item in component.listPhoto %}
    <figure class="card bg-white rounded-lg shadow-lg overflow-hidden">
      <img src="{{ item.photo }}" alt="Lakeview Elegance preview" class="w-full h-48 sm:h-64 md:h-80 object-cover">
    </figure>
    {% endfor %}
  </div>
</div>
