{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}

<section class="s-block s-block--features container ">
  <div class="container mx-auto">
  <div class="xl:px-20 lg:px-6 py-10">
    <div class=" items-center text-center flex flex-col" >
      <h2 class=" text-2xl max-w-s md:max-w-2xl  md:text-start md:text-4xl font-bold md:!leading-12">
       {{ component.item }}

</h2>

      <p class=" mx-auto mt-6 max-w-xl text-lg md:text-xl leading-8 text-slate-400">
       
       {{ component.item_1 }}
       

        </p>
      
      </div> 



  <div class="yasmeen-features-slider">
    <salla-slider id="thumbs" loop="false" show-controls="false" type="carousel" >
      {% for item in  component.features %}

      <div class="swiper-wrapper s-slider-swiper-wrapper duration-200 hover:-translate-y-3 parent pb-4
      relative rounded-xl " id="swiper-wrapper-bb4bad112241fc3b" aria-live="polite" >
        <div class="flex flex-col gap-6 text-center justify-center items-center swiper-slide swiper-slide-active" style="width: auto !important; min-width: 200px !important" role="group" aria-label="1 / 5">
      <span class="bg-[var(--color-primary)] text-[var(--color-primary-reverse)] {{ item.icon }} text-4xl text-white  rounded-[10px] mx-auto w-[100px] h-[100px] flex justify-center items-center"></span>
      <h4 class="text-[var(--color-primary-dark)] text-[22px] font-[500]">
        {{ item.title }}
      </h4>
      <p>{{ item.text }}</p>
      </div>
    </div>
      
    {% endfor %}

    
    </salla-slider>

  

  
  </div>


  </div>
  </div>


</section>



<style>

  .yasmeen-features .yasmeen-features-slider .swiper-wrapper
  {justify-content:space-between!important}
</style>
