{#
| Variable                      | Type      | Description                                                         |
|-------------------------------|-----------|---------------------------------------------------------------------|
| items                         | array     | shared variable in all layout, index.twig, and all components views |
| items[].title                 | string    | Section title                                                       |
| items[].name                  | string    | Alias for title                                                     |
| items[].type                  | string    | category,most_sales,latest_products,chosen_products                 |
| items[].featured_product      | Product   |                                                                     |
| items[].special_product.id    | string    | Product string id                                                   |
| items[].special_product.title | string    | Product Name                                                        |
| items[].products[]            | Product[] |                                                                     |
| items[].limit                 | Int       | Number of products to be shown                                      |
| items[].id                    | String    | Section id                                                          |
| postion                       | int       | Sorting number starts from zero                                     |
| is_slider                     | Bool      | Products should be movable or static                                |
#}
{% set component_id='featured-products-style2-' ~ position %}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block s-block-tabs s-block--tabs-produtcs s-block--full-bg {{ is_slider ? 'as-slider':'as-grid' }} bg-withe-100 py-8 sm:py-16" id="{{ component_id }}">
  <div class="container">

    <div class="tabs hide-scroll text-center">
      {% for section in items %}
          <custom-tabs  
              class="tab-trigger {{ loop.first ? 'is-active' : '' }} tab-item"
              data-target="{{ component_id }}-{{ section.id }}"
              data-component-id="{{ component_id }}"
              fill="outline">
              {{ section.title }}
          </custom-tabs>
      {% endfor %}
  </div>
  
      <div class="tabs-wrapper">
        {% for section in items %}
            <div id="{{ component_id }}-{{ section.id }}" class="tabs__item {{ loop.first?'is-active':'' }}">
                {% if is_slider %}
                    <salla-products-slider 
                      slider-id="section-{{ section.id }}-slider" 
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]" 
                      >
                    </salla-products-slider>
                {% else %}
                    <salla-products-list 
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]"
                      {{is_vertical ? '' : 'horizontal-cards'}}
                      >
                    </salla-products-list>
                {% endif %}
            </div>
        {% endfor %}
      </div>
  </div>
</section> 

<section class="ezy__comingsoon1 light py-14 md:py-24 bg-white dark:bg-[#0b1727] dark:text-white">
  <div class="container px-16 md:px-8 lg:px-28">
    <div class="grid grid-cols-12 justify-center gap-6">
      <div class="col-span-12 lg:col-span-5 flex flex-col justify-center text-center lg:text-start">
        <h2 class="font-bold text-[32px] leading-none md:text-[45px] mb-6">Coming Soon</h2>
        <p class="text-lg opacity-80 mb-2">
          An activity that requires a person's mental or physical effort is work.If a person is trained for a
          certain type of job, they may have a profession. Typically, a job would be a subset of someone's career.
        </p>
      </div>
      <div class="col-span-12 lg:col-span-7">
        <img src="https://cdn.easyfrontend.com/pictures/comingsoon/one.png" alt="" class="h-auto max-w-full" />
      </div>
    </div>
  </div>
</section>


