{#
| Variable                      | Type      | Description                                                         |
|-------------------------------|-----------|---------------------------------------------------------------------|
| items                         | array     | shared variable in all layout, index.twig, and all components views |
| items[].title                 | string    | Section title                                                       |
| items[].name                  | string    | Alias for title                                                     |
| items[].type                  | string    | category,most_sales,latest_products,chosen_products                 |
| items[].featured_product      | Product   |                                                                     |
| items[].special_product.id    | string    | Product string id                                                   |
| items[].special_product.title | string    | Product Name                                                        |
| items[].products[]            | Product[] |                                                                     |
| items[].limit                 | Int       | Number of products to be shown                                      |
| items[].id                    | String    | Section id                                                          |
| postion                       | int       | Sorting number starts from zero                                     |
| is_slider                     | Bool      | Products should be movable or static                                |
#}
{% set component_id='featured-products-style2-' ~ position %}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block s-block-tabs s-block--tabs-produtcs s-block--full-bg {{ is_slider ? 'as-slider':'as-grid' }} bg-withe-100 py-8 sm:py-16" id="{{ component_id }}">
  <div class="container">

    <div class="tabs hide-scroll text-center">
      {% for section in items %}
          <custom-tabs  
              class="tab-trigger {{ loop.first ? 'is-active' : '' }} tab-item"
              data-target="{{ component_id }}-{{ section.id }}"
              data-component-id="{{ component_id }}"
              fill="outline">
              {{ section.title }}
          </custom-tabs>
      {% endfor %}
  </div>
  
      <div class="tabs-wrapper">
        {% for section in items %}
            <div id="{{ component_id }}-{{ section.id }}" class="tabs__item {{ loop.first?'is-active':'' }}">
                {% if is_slider %}
                    <salla-products-slider 
                      slider-id="section-{{ section.id }}-slider" 
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]" 
                      >
                    </salla-products-slider>
                {% else %}
                    <salla-products-list 
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]"
                      {{is_vertical ? '' : 'horizontal-cards'}}
                      >
                    </salla-products-list>
                {% endif %}
            </div>
        {% endfor %}
      </div>
  </div>
</section> 




<section id="shopify-section-template--22751377195297__collection_list_Pr36qH" class="shopify-section section section-collection-list"><link href="//sleek-glossy.myshopify.com/cdn/shop/t/4/assets/component-collection-card.css?v=10139308172158244861718246699" rel="stylesheet" type="text/css" media="all">
  <link href="//sleek-glossy.myshopify.com/cdn/shop/t/4/assets/section-collection-list.css?v=74479844601249785891729067265" rel="stylesheet" type="text/css" media="all">
  <script src="//sleek-glossy.myshopify.com/cdn/shop/t/4/assets/collection-list.js?v=8313785757860441961729067248" defer="defer"></script>
  <div class="section section-template--22751377195297__collection_list_Pr36qH section--padding collection-list collection-list--split collection-list--slider color-scheme-2" style="--section-padding-top: 100px;--section-padding-bottom: 100px;">
    <div class="page-width">
      <div class="section__wrapper"><div class="section__header spacing--large md:flex justify-between gap-6 lg:justify-start lg:flex-col"><div class="rich-text md:text-left text-center"><motion-element class="block rich-text__subheading text-subheading" data-motion="fade-up" data-motion-delay="50" style="transform: translateY(0px); opacity: 1;">Care for your skin</motion-element><h2 class="rich-text__heading inline-richtext h1">
                    <motion-element class="block" data-motion="fade-up" data-motion-delay="100" style="transform: translateY(0px); opacity: 1;">
                      
  Natural self care products
                    </motion-element>
                  </h2><motion-element class="block rich-text__text rte text-base" data-motion="fade-up" data-motion-delay="150" style="transform: translateY(0px); opacity: 1;"><p>We create safe products that really work and are designed to make you feel good</p></motion-element></div><motion-element class="swiper-controls hidden md:inline-flex" data-motion="fade-up" data-motion-delay="200" style="transform: translateY(0px); opacity: 1;">
                <button type="button" class="swiper-btn-prev btn btn--icon-circle shrink-0" name="previous" aria-label="Slide left" fdprocessedid="ubyehy"><svg class="icon icon-slider-prev icon--medium" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.75 16.2505L6.5 10.0005L12.75 3.75049" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
  </button>
                <button type="button" class="swiper-btn-next btn btn--icon-circle shrink-0" name="next" aria-label="Slide right" fdprocessedid="8d1ys"><svg class="icon icon-slider-prev icon--medium" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.5 3.74121L13.75 9.99121L7.5 16.2412" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
  </button>
              </motion-element></div><div class="section__content">
          <grid-list class="block">
            <collection-list class="block swipe-mobile swipe-mobile--1-cols swiper-backface-hidden swiper swiper-initialized swiper-horizontal swiper-pointer-events" data-section-id="template--22751377195297__collection_list_Pr36qH" data-enable-slider="true" data-items="3" data-tablet-items="3">
              <div class="collection-list__items f-grid--gap-medium f-grid--row-gap-medium f-grid-1-cols md:f-grid-3-cols lg:f-grid-3-cols swipe-mobile__inner swiper-wrapper" style="transform: translate3d(-941px, 0px, 0px); transition-duration: 0ms;"><div class="f-column swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-index="1" data-swiper-slide-index="1" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/cleansers" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="Natural Self Care">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1.1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">Natural Self Care</h3><div class="collection-card__count text-subtext">
                18 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="Natural Self Care" fdprocessedid="m8sq6">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-duplicate" data-index="2" data-swiper-slide-index="2" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/moisturizers" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="The Sweetest Thing">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1.1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">The Sweetest Thing</h3><div class="collection-card__count text-subtext">
                18 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="The Sweetest Thing" fdprocessedid="rd0je">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-duplicate swiper-slide-prev" data-index="3" data-swiper-slide-index="3" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/accessories-1" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="Tools &amp; Accessories">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1.1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">Tools &amp; Accessories</h3><div class="collection-card__count text-subtext">
                16 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="Tools &amp; Accessories" fdprocessedid="mxumz8">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-active" data-index="0" data-swiper-slide-index="0" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/skincare" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="Skincare Advance">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">Skincare Advance</h3><div class="collection-card__count text-subtext">
                23 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="Skincare Advance" fdprocessedid="cf5abf">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-next" data-index="1" data-swiper-slide-index="1" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/cleansers" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="Natural Self Care">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">Natural Self Care</h3><div class="collection-card__count text-subtext">
                18 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="Natural Self Care" fdprocessedid="m8sq6">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide" data-index="2" data-swiper-slide-index="2" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/moisturizers" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="The Sweetest Thing">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">The Sweetest Thing</h3><div class="collection-card__count text-subtext">
                18 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="The Sweetest Thing">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-duplicate-prev" data-index="3" data-swiper-slide-index="3" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/accessories-1" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="Tools &amp; Accessories">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c4.webp?v=1718264649&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">Tools &amp; Accessories</h3><div class="collection-card__count text-subtext">
                16 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="Tools &amp; Accessories">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-index="0" data-swiper-slide-index="0" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/skincare" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="Skincare Advance">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1.1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c1.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">Skincare Advance</h3><div class="collection-card__count text-subtext">
                23 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="Skincare Advance" fdprocessedid="cf5abf">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-index="1" data-swiper-slide-index="1" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/cleansers" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="Natural Self Care">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1.1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c2.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">Natural Self Care</h3><div class="collection-card__count text-subtext">
                18 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="Natural Self Care" fdprocessedid="m8sq6">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div><div class="f-column swiper-slide swiper-slide-duplicate" data-index="2" data-swiper-slide-index="2" style="width: 283.667px; margin-right: 30px;">
                    
  <div class="collection-card collection-card--style-1 collection-card--has-bg blocks-radius color-scheme-1">
    <a href="/collections/moisturizers" class="collection-card__wrapper relative flex flex-col gap-6 focus-inset" aria-label="The Sweetest Thing">
      <div class="collection-card__image media-wrapper hover-wrapper loaded">
        <motion-element data-motion="zoom-out-sm" class="block" style="--aspect-ratio: 1.135135135135135; transform: scale(1.1);"><img src="//sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=840" alt="" srcset="//sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=165 165w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=355 355w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=450 450w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=535 535w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=710 710w, //sleek-glossy.myshopify.com/cdn/shop/files/c3.webp?v=1718264648&amp;width=840 840w" width="840" height="740" loading="lazy" class="motion-reduce hover-scale-up loaded" sizes="(max-width: 767px) calc((100vw - 3rem) / 1), (max-width: 1279px) calc((min(100vw, 1410px) + 15vw) / 3), calc((min(100vw, 1410px) + 15vw) / 3 )" is="image-lazy">
  </motion-element>
      </div>
      <div class="collection-card__inner pointer-events-none">
        <div class="collection-card__info flex items-center gap-2 w-full">
          <div class="collection-card__summary flex-1 flex flex-col gap-1 text-left">
            <h3 class="collection-card__title h4">The Sweetest Thing</h3><div class="collection-card__count text-subtext">
                18 items
              </div></div><button class="btn btn--icon-circle btn--secondary shrink-0" aria-label="The Sweetest Thing">
              <svg class="icon icon--medium rtl-flip-x" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15L15 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.875 5H15V13.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button></div>
      </div>
    </a>
  </div>
  
                  </div></div>
            </collection-list>
          </grid-list>
        </div>
      </div>
    </div>
  </div>
  
  </section>