{#
| Variable        | Type       | Description                                                      |
|-----------------|------------|------------------------------------------------------------------|
| display_all_url | ?string    | If it's existed, mean should show load more link to this url     |
| title           | string     |                                                                  |
| products        | Products[] |                                                                  |
| position        | Int        | Sorting number start from zero                                   |
| limit           | Int        | Number of products to be shown
#}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block container">
    {% if title %}
    
      <div class="mb-10">
        <div class="mx-auto max-w-4xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ title }}</h2>
        </div>
        </div>
    {% endif %}
      <salla-products-list
      source="selected"
      limit="{{ limit }}"
      source-value="[{{ products|map((product) => product.id)|join(',') }}]"
      class="{{is_vertical ? 'vertical-products' : 'horizontal-products'}}"
      {{is_vertical ? '' : 'horizontal-cards'}}
      >
    </salla-products-list>
    {% if display_all_url %}

    <div class="md:w-1/2 w-full h-full py-4 mx-auto">
      <a href="{{ display_all_url }}" target="_self">
      <button class=" button-custom 
       md:text-[20px] text-[17px] flex gap-4 justify-center items-center shadow rounded-[0.25rem] h-12 w-full py-2 px-8 duration-100" fdprocessedid="q3i6ly">
      <span>{{ trans('blocks.home.display_all') }}</span>
      <span class="ltr:hidden sicon-arrow-left"></span>
      <span class="rtl:hidden sicon-arrow-right"></span>
      </button>
      </a>
      </div>

      {% endif %}
      

</section>



<section class="s-blockl fixed-products-with-image">
  <div aria-hidden="true" class="flex items-center justify-center h-96 overflow-hidden relative w-full">
    <video class="bg-cover w-full origin-center" autoplay="" loop="" muted="">
      <source src="https://github-production-user-asset-6210df.s3.amazonaws.com/32875906/277474661-1960a180-d7d3-41ba-abb2-87a054855477.mp4" type="video/mp4">
    </video>
    <div class="absolute inset-0 bg-gradient-to-t from-white"></div>

    <!-- النص وزر -->
    <div class="absolute bottom-20 left-5 right-5 text-right">
      <h4 class="text-black text-2xl font-bold">hhhhhhhhhhhhhhhhhhhhh</h4>
      <p class="text-black text-sm opacity-70"> kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
      <a href="https://salla.sa/dev-0dvixz52swmu55m6/redirect/categories/97219664" class="flex py-3 px-6 mt-3 gap-2 font-semibold items-center justify-center button-style transition-all rounded">
        <span class="font-semibold">hhhhhhhhhhhhhhhhhhh</span>
      </a>
    </div>
  </div>
  
  <div class="relative -mt-12 container">
    <div class="mt-6">       
      <salla-products-list
    source="selected"
    limit="{{ limit }}"
    source-value="[{{ products|map((products) => product.id)|join(',') }}]"
    class="{{is_vertical ? 'vertical-products' : 'horizontal-products'}}"
    {{is_vertical ? '' : 'horizontal-cards'}}
    >
  </salla-products-list>
     
    </div>
  </div>
</section>


