<section class="s-blockl fixed-products-with-image">
    <h1>ggggggggggggggggggggggggg</h1>
    <div aria-hidden="true" class="flex items-center justify-center h-96 overflow-hidden relative w-full">
      <video class="bg-cover w-full origin-center" autoplay="" loop="" muted="">
        <source src="{{component.url}}" type="video/mp4">
      </video>
      <div class="absolute inset-0 bg-gradient-to-t from-white"></div>
  
      <!-- النص وزر -->
      <div class="absolute bottom-20 left-5 right-5 text-right">
        <h4 class="text-black text-2xl font-bold">{{component.title}}</h4>
        <p class="text-black text-sm opacity-70"> {{component.desc}}</p>
        <a href="https://salla.sa/dev-0dvixz52swmu55m6/redirect/categories/97219664" class="flex py-3 px-6 mt-3 gap-2 font-semibold items-center justify-center button-style transition-all rounded">
          <span class="font-semibold">{{component.item}}</span>
        </a>
      </div>
    </div>
    
    <div class="relative -mt-12 container">
      <div class="mt-6">
        <salla-products-list
          source="selected"
          limit="{{ limit }}"
          source-value="[{{ products|map((product) => product.id)|join(',') }}]"
          class="{{is_vertical ? 'vertical-products' : 'horizontal-products'}} {{is_vertical ? '' : 'horizontal-cards'}} small-products">
        </salla-products-list>
      </div>
    </div>
  </section>
  

  <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(76).webp" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
        </div>
      </div>
    </div>
  </div>