<section class="s-blockl fixed-products-with-image">
  <div class="flex items-center justify-center h-96 overflow-hidden relative w-full">

    {% if component.videotoimg %}
      <img class="lazy w-full h-auto object-cover object-center min-h-[200px] max-h-[250px] lg:max-h-[700px] loaded" 
           src="{{ component.background_image }}" loading="lazy" alt="Background Image">
    {% else %}
      <video class="w-full h-full object-cover" autoplay loop muted playsinline>
        <source src="{{ component.url }}" type="video/mp4">
      </video>
    {% endif %}

    <div class="absolute inset-0 bg-gradient-to-t from-white"></div>

    <div class="absolute bottom-20 left-5 right-5 text-right md:mr-20 md:pr-11 flex flex-col items-start justify-center">
      {% if component.title %}
        <h2 class="font-bold text-xl sm:text-2xl md:text-3xl" style="color:{{ component.colortext }};">
          {{ component.title }} 
        </h2>
      {% endif %}

      {% if component.desc %}
        <p class="text-sm opacity-70 sm:text-base md:text-lg mt-2" style="color:{{ component.colortext }};">
          {{ component.desc }}

        </p>
      {% endif %}

{% if component.display_all_url and component.display_all_url != '#' and component.display_all_url != '##' %}
        <div class="mt-4 mb-4 flex md:justify-start items-center gap-x-6">
          <a href="{{ component.display_all_url }}"
             class="button-custom md:text-[20px] text-[17px] flex gap-4 justify-center items-center shadow rounded-[0.25rem] h-12 w-full py-2 px-8 duration-100"
             style="background-color: {{ component.colorButton }}; color: {{ component.colorButtonText }};">
            <span>{{ component.textButton }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                 class="rotate-180 group-hover:-translate-x-1 transition-transform ease duration-200"
                 width="1em" height="1em" viewBox="0 0 256 256">
              <path fill="currentColor"
                    d="m221.66 133.66l-72 72a8 8 0 0 1-11.32-11.32L196.69 136H40a8 8 0 0 1 0-16h156.69l-58.35-58.34a8 8 0 0 1 11.32-11.32l72 72a8 8 0 0 1 0 11.32Z" />
            </svg>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="container mt-0"> 
    <salla-products-list 
      source="selected" 
      class="simplified-products" 
      source-value="[{{ component.products | map(product => product.id) | join(',') }}]">
    </salla-products-list>
  </div>
</section>
