<section class="s-blockl fixed-products-with-image">
    <div aria-hidden="true" class="flex items-center justify-center h-96 overflow-hidden relative w-full">
      <video class="bg-cover w-full origin-center" autoplay="" loop="" muted="">
        <source src="{{component.url}}" type="video/mp4">
      </video>
      <div class="absolute inset-0 bg-gradient-to-t from-white"></div>
  
      <!-- النص وزر -->
      <div class="absolute bottom-20 left-5 right-5 text-right">
        <h4 class="text-black text-2xl font-bold">{{component.title}}</h4>
        <p class="text-black text-sm opacity-70"> {{component.desc}}</p>
        <a href="https://salla.sa/dev-0dvixz52swmu55m6/redirect/categories/97219664" class="flex py-3 px-6 mt-3 gap-2 font-semibold items-center justify-center button-style transition-all rounded">
          <span class="font-semibold">{{component.item}}</span>
        </a>
      </div>
    </div>
    
    <div class="relative -mt-12 container">
      <div class="mt-6">
        <salla-products-list
          source="selected"
          limit="{{ limit }}"
          source-value="[{{ products|map((product) => product.id)|join(',') }}]"
          class="{{is_vertical ? 'vertical-products' : 'horizontal-products'}} {{is_vertical ? '' : 'horizontal-cards'}} small-products">
        </salla-products-list>
      </div>
    </div>
  </section>
  