

{#
| Variable        | Type      | Description                                                      |
|-----------------|-----------|------------------------------------------------------------------|
| products        | Product[] | List of products                                                 |
| title           | string    | Section title                                                    |
| display_all_url | ?string   | If it's existed, mean should show load more link to this url     |
| position        | Int       | Sorting number start from zero                                   |
#}

<section id="best-offers-{{ position }}-slider" class="s-block s-block--best-offers container overflow-hidden">
  {% if products|length %}
    <salla-products-slider
            source="selected"
            limit="{{ limit }}"
            autoplay
            source-value="[{{ products|map((product) => product.id)|join(',') }}]"
            display-all-url="{{display_all_url}}"
            block-title="{{ title }}"
            block-subTitle="{{ sub_title|raw }}"
            slider-id="slider-with-bg-{{ position }}"
    ></salla-products-slider>
  {% endif %}
</section>


<style>
  .s-products-slider-wrapper{margin-bottom:2rem}
  [dir=ltr] 
  .s-products-slider-wrapper{padding-right:0}[dir=rtl] 
  .s-products-slider-wrapper{padding-left:0}
  @media(min-width:768px){.s-products-slider-wrapper{margin-bottom:5rem}}
  @media(min-width:1024px){.s-products-slider-wrapper{overflow:hidden}}
  .s-products-slider-card{height:auto!important}
  .s-products-slider-card{width:100%;max-width:250px;padding-left:.5rem;padding-right:.5rem}
  @media(min-width:640px){.s-products-slider-card{width:50%;max-width:320px}}
  @media(min-width:768px){.s-products-slider-card{width:33.333333%}}
  @media(min-width:1024px){.s-products-slider-card{width:25%}}
</style>

