{#
| Variable        | Type      | Description                                                      |
|-----------------|-----------|------------------------------------------------------------------|
| products        | Product[] | List of products                                                 |
| title           | string    | Section title                                                    |
| display_all_url | ?string   | If it's existed, mean should show load more link to this url     |
| position        | Int       | Sorting number start from zero                                   |
#}

<section id="best-offers-{{ position }}-slider" class="s-block s-block--best-offers container overflow-hidden 
">

  {% if products|length %}

    <salla-products-slider   shadow-on-hover         
            source="selected"
            limit="{{ limit }}"
            autoplay
            source-value="[{{ products|map((product) => product.id)|join(',') }} ] "
            display-all-url="{{display_all_url}}"
            block-title= "{{ title }}"
            block-subTitle="{{ sub_title|raw }}"
            slider-id=" slider-with-bg-{{ position }}  "
            
    >
    </salla-products-slider>
  {% endif %}

</section>






<section id="best-offers-{{ position }}-slider">
  <div>
      {% if display_all_url %}
          <a href="{{ display_all_url }}">{{ trans('blocks.home.display_all') }}</a>
      {% endif %}
      <div>
          <button aria-label="Previous Slide"></button>
          <button aria-label="Next Slide"></button>
      </div>
  </div>
       {% for product in products %}

      <div class="swiper-slide duration-200 hover:-translate-y-3 parent pb-4 h-auto products-slider-slide swiper-slide-active" style="width: 290px; margin-left: 20px;" role="group" aria-label="2 / 8">

        <custom-salla-product-card >
                <div class="animate-fade animate-duration-1000 relative flex w-full flex-col overflow-hidden rounded-xl border border-gray-100 bg-white shadow-lg h-full justify-between">
                <div class="flex flex-col gap-2 md:gap-4">
                <a class="relative mx-2 mt-3 flex overflow-hidden rounded-xl aspect-square  product-card-image-826" href="{{ product.url }}">
                  <img class=" object-cover w-full" 
                  src="{{ product.image.url }}" alt="{{ product.image.alt }}" loading="lazy">
                  <span class="absolute top-3 right-3"> <span class="bg-primary  rounded-full flex h-10 w-10 items-center justify-center"> <span class="text-white font-normal py-1 text-[12px]">77%-</span></span>   </span>  
                  <button id="wishlist-button-469603154-0.9929581707819559" onclick="app.addToFavourite('469603154', '0.9929581707819559')" type="button" aria-label="Add product to favorites" class="text-primary grow p-2 font-bold rounded-full hover:text-white hover:bg-primary hover:opacity-80 dark:bg-slate-800 shadow-md transition-all active:scale-95 text-sm absolute top-3 left-3" fdprocessedid="w139q9n">
        
                    <span class="sr-only">Add product to favorites</span>
                    <svg class="w-5 h-5" aria-hidden="true" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                        <path d="M3.97914 9.00971L11.8032 16.8338L19.6273 9.00971C20.3191 8.31796 20.7077 7.37975 20.7077 6.40147C20.7077 5.42319 20.3191 4.48498 19.6273 3.79323C19.2848 3.45071 18.8782 3.17901 18.4307 2.99364C17.9831 2.80827 17.5035 2.71286 17.0191 2.71286C16.0408 2.71286 15.1026 3.10148 14.4109 3.79323L11.8032 6.40085L9.19562 3.79446C8.50211 3.11199 7.56702 2.73121 6.59403 2.73506C5.62105 2.7389 4.68899 3.12707 4.0009 3.815C3.31281 4.50293 2.92443 5.43489 2.92035 6.40787C2.91628 7.38086 3.29684 8.31604 3.97914 9.00971ZM10.934 2.05359L11.8032 2.92279L12.6724 2.05359C13.2424 1.47867 13.9202 1.02197 14.6671 0.709729C15.414 0.397484 16.2152 0.235835 17.0247 0.234062C17.8342 0.23229 18.6361 0.390428 19.3843 0.6994C20.1326 1.00837 20.8124 1.46209 21.3848 2.03451C21.9573 2.60693 22.411 3.28677 22.7199 4.03501C23.0289 4.78325 23.1871 5.58514 23.1853 6.39466C23.1835 7.20418 23.0219 8.00538 22.7096 8.75226C22.3974 9.49914 21.9407 10.177 21.3658 10.7469L12.6737 19.4402C12.5595 19.5545 12.4239 19.6452 12.2747 19.7071C12.1254 19.7689 11.9654 19.8008 11.8039 19.8008C11.6423 19.8008 11.4823 19.7689 11.3331 19.7071C11.1838 19.6452 11.0482 19.5545 10.934 19.4402L2.24072 10.7481C1.65799 10.18 1.19385 9.50192 0.875231 8.75307C0.556614 8.00423 0.389862 7.19957 0.384648 6.38577C0.379434 5.57198 0.535861 4.76525 0.844856 4.01238C1.15385 3.25951 1.60926 2.57549 2.18467 2C2.76009 1.42451 3.44404 0.969001 4.19687 0.659899C4.94969 0.350797 5.7564 0.194256 6.57019 0.199355C7.38399 0.204454 8.18867 0.371092 8.93756 0.689603C9.68646 1.00811 10.3646 1.47216 10.9328 2.05481L10.934 2.05359Z" fill="currentColor"></path>
                    </svg>
        
        
                </button>
               </a>
               <a  href="{{ product.url }}" class="px-4">
                        <h5 class="text-lg text-center opacity-95 truncate font-semibold " style=" font-size: 18px !important  ">{{ product.name }}</h5>
                    </a>
               </div>
               {% if product.on_sale %}
                <div class="flex flex-col justify-between h-min">
                    
                    <div class="flex flex-col px-4">
                    <div class="mt-1 mb-3 w-full text-center flex items-center justify-between">
                        <p class="w-full text-center">
                        <span class="text-base font-medium text-red-400">{{ product.sale_price|money }}</span> <span class="text-gray-400 line-through truncate">  {{ product.regular_price|money }}</span>
                        </p>
                        
                    </div>
                  
                    <button class="mb-3 flex w-full items-center justify-center rounded-md bg-primary px-2 py-1 text-center text-[14px] font-normal text-white hover:opacity-95 focus:outline-none  hover:text-white " id="addToCart-469603154" onclick="app.quickAddToCart('469603154')" type="button" aria-label="Add product to cart" fdprocessedid="cd2jk5">
                            
                            <span class="mt-1 ml-2">اضف للسلة</span> <svg id="add-to-cart-icon-469603154" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 md:h-5 md:w-5 add-to-cart-icon-469603154" viewBox="0 0 24 24" color="currentColor">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M3.977 9.84A2 2 0 0 1 5.971 8h12.058a2 2 0 0 1 1.994 1.84l.803 10A2 2 0 0 1 18.833 22H5.167a2 2 0 0 1-1.993-2.16l.803-10Z"></path>
                                <path d="M16 11V6a4 4 0 0 0-4-4v0a4 4 0 0 0-4 4v5"></path>
                            </g>
                        </svg>
                        <svg id="add-to-cart-loader-469603154" aria-hidden="true" role="status" style="display: none;" class="custom-product-card-loader fill-primary add-to-cart-loader-469603154 h-4 w-4 animate-spin text-gray-200" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" class="fill-primary hover:fill-white"></path> 
                        </svg>
                            
                    </button>
                    </div>


                </div>
                {% else %}
                <h4>{{ product.price|money }}</h4>
                {% endif %}
              </div>
              
                  
              
                </custom-salla-product-card>
      </div>
      {% endfor %}

    

   
 
</section>


