{#
| Variable        | Type      | Description                                                      |
|-----------------|-----------|------------------------------------------------------------------|
| products        | Product[] | List of products                                                 |
| title           | string    | Section title                                                    |
| display_all_url | ?string   | If it's existed, mean should show load more link to this url     |
| position        | Int       | Sorting number start from zero                                   |
#}

<section id="best-offers-{{ position }}-slider" class="s-block s-block--best-offers container overflow-hidden ">

  {% if products|length %}

    <salla-products-slider
            source="selected"
            limit="{{ limit }}"

            autoplay
            source-value="[{{ products|map((product) => product.id)|join(',') }}]"
            display-all-url="{{display_all_url}}"
            block-title= "{{ title }}"
            block-subTitle="{{ sub_title|raw }}"
            slider-id="slider-with-bg-{{ position }}  "
 
    >
    </salla-products-slider>
  {% endif %}

</section>



<section class="s-block s-block--features container flex justify-center px-2 md:px-0 py-4 pl-0 ml-0 md:mx-auto"><span class="s-design-before s-design-invisible-dom" id="edit-1646472933"></span>
  <div class="container pl-0 md:p-2.5">
  <div class="swiper squared-products-slider-1319 py-4 px-1 swiper-initialized swiper-horizontal swiper-rtl swiper-backface-hidden" dir="rtl">
  <div class="flex flex-row items-center justify-between">
  <div class="text-start inline-block">
  <div class="md:pt-3 pt-0">
  <h1 class="font-bold text-2xl">{{ title }}</h1>
  </div>
  </div>
  <div class="flex flex-row text-end items-baseline justify-end gap-2 pl-2 md:pl-0">
  <button type="button" class="prev-custom-1319 h-6 w-6 bg-white text-black hover:text-white transition duration-300 hover:bg-primary navigation-shadow rounded-md flex items-center justify-center" fdprocessedid="587pc5" tabindex="0" aria-label="Previous slide" aria-controls="swiper-wrapper-4b5695c3b671a38e" aria-disabled="false">
  <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="h-3" viewBox="0 0 24 24">
  <path d="M7.38 21.01c.49.49 1.28.49 1.77 0l8.31-8.31a.996.996 0 0 0 0-1.41L9.15 2.98c-.49-.49-1.28-.49-1.77 0s-.49 1.28 0 1.77L14.62 12l-7.25 7.25c-.48.48-.48 1.28.01 1.76z"></path>
  </svg>
  </button>
  <div class="swiper-pagination-1319 top-auto bottom-auto inline-block w-auto static swiper-pagination-fraction swiper-pagination-horizontal"><span class="swiper-pagination-current">8</span> / <span class="swiper-pagination-total">8</span></div>
  <button type="button" class="next-custom-1319 h-6 w-6 bg-white text-black hover:text-white transition duration-300 hover:bg-primary navigation-shadow rounded-md flex items-center justify-center swiper-button-disabled" fdprocessedid="9198h5" tabindex="-1" aria-label="Next slide" aria-controls="swiper-wrapper-4b5695c3b671a38e" aria-disabled="true" disabled="">
  <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="h-3" viewBox="0 0 24 24">
  <path d="M16.88 2.88a1.25 1.25 0 0 0-1.77 0L6.7 11.29a.996.996 0 0 0 0 1.41l8.41 8.41c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.54 12l7.35-7.35c.48-.49.48-1.28-.01-1.77z"></path>
  </svg>
  </button>
  </div>
  </div>


  <div class="swiper-wrapper mt-8 mb-4 h-auto" id="swiper-wrapper-4b5695c3b671a38e" aria-live="off" style="transform: translate3d(2046px, 0px, 0px); transition-duration: 0ms;">
 
    

  <div class="swiper-slide duration-200 hover:-translate-y-3 parent pb-4 h-auto products-slider-slide swiper-slide-active" role="group" aria-label="8 / 8" style="width: 290px; margin-left: 20px;">
    {% if products|length %}

    <salla-products-slider
           
            source="selected"
            limit="{{ limit }}"

            autoplay
            source-value="[{{ products|map((product) => product.id)|join(',') }}]"
            display-all-url="{{display_all_url}}"
            block-title="{{ title }}"
            block-subTitle="{{ sub_title|raw }}"
            slider-id="slider-with-bg-{{ position }}  "
 
    >
    </salla-products-slider>
  {% endif %}
  </div>
  </div>
