{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}


{% set marquee = theme.settings.get('marquee', true) %}
{% set marqueetext = theme.settings.get('marqueetext', true) %}
{% set marqueecolortext = theme.settings.get('marqueecolortext', true) %}
{% set marqueecolorback = theme.settings.get('marqueecolorback', true) %}


{% if marquee %}
<div class="marquee" style="background-color: {{ marqueecolorback }};" >
  <button class="close-button" onclick="app.closeMarquee()">×</button>
  <ul class="marquee__content" style="color: {{ marqueecolortext }};">
    {% for i in 1..10 %}
      <li class="text-md cursor-pointer">{{ marqueetext }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}



{% set show_loding  = theme.settings.get('show_loding', true) %}
{% set colorpage    = theme.settings.get('lodingitem4', true) %}
{% set width        = theme.settings.get('loadingitem1', true) %}
{% set height       = theme.settings.get('loadingitem2', true) %}
{% set image        = theme.settings.get('lodingitem3', true) %}
{% set effect       = theme.settings.get('loadingeffect', true) %}

{% if show_loding %}
<div id="loading" class="loading-screen bg-opacity-80 flex items-center justify-center h-screen"
     style="background-color: {{ colorpage }};">
     <img 
     {% if image %}
       src="{{ image }}"
     {% else %}
       src="{{ store.logo }}"
     {% endif %} 
      alt="Loading..."  class="logo-{{ effect }}">
</div>
{% endif %}


{% set important_links = theme.settings.get('important_links') %}


<header class="store-header centered_logo">
  <div class="top-navbar">
    <div class="container flex justify-between">
      <div class="flex-1 flex items-center ">
        {% if important_links %}
          <salla-menu source="footer" topnav></salla-menu>
        {% endif %}
        {% if store.scope %}
          <button class="btn--rounded-gray" onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
            <i class="sicon-location rtl:ml-1 ltr:mr-1"></i> {{ store.scope.name }}
          </button>
        {% endif %}
      </div>
      <salla-contacts is-header></salla-contacts>
    </div>
  </div>

  <!-- الشعار والمستخدم والسلة -->
  <div id="mainnav" class="main-nav-container">
    <div class="inner bg-inherit py-2">
      <div class="container">
        <div class="flex items-stretch justify-between relative">
          <div class="flex items-center justify-start w-1/3">
            <a class="mburger mburger--collapse leading-none flex justify-center items-center" href="#mobile-menu" aria-label="Open-menu">
              <i class="sicon-right text-3xl rtl:ml-2.5 ltr:mr-2.5"></i>
            </a>
          </div>
          <div class="top-0 z-20"> <!-- الشعار ثابت -->
            <a class="navbar-brand" href="{{ store.url }}">
              <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
              {% if is_page('index') %}
                <h1 class="sr-only">{{ store.name }}</h1>
              {% else %}
                <h2 class="sr-only">{{ store.name }}</h2>
              {% endif %}
            </a>
          </div>
          <div class="flex items-center justify-end w-1/3">
            <div>
              {% if user.type == 'user' %}
                <salla-user-menu avatar-only show-header></salla-user-menu>
              {% else %}
                <button class="header-btn flex justify-center items-center gap-2 relative px-3" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                  <i class="header-btn__icon sicon-user"></i>
                </button>
              {% endif %}
            </div>
            <div>
              <salla-cart-summary>
                <i slot="icon" class="header-btn__icon icon sicon-shopping-basket"></i>
              </salla-cart-summary>
            </div>
          </div>
        </div>
  
        <!-- البحث -->
        <div class="header-search flex justify-center items-center "> <!-- إضافة المسافة -->
          <salla-search inline oval height="46" class="search-input w-full max-w-2xl"></salla-search>
          <div class="header-buttons mx-3">
            {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
              <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray basis-0 flex items-center gap-2">
                <span class="flag iti__flag iti__{{ user.language.country_code }} rounded-sm"></span>
                <span class="mx-1.5">|</span> <span>{{ currency.symbol }}</span>
              </button>
              <salla-localization-modal></salla-localization-modal>
            {% endif %}
          </div>
        </div>
  
        <!-- القائمة -->
      </div>
    </div>
  </div>
  
</header>





{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}



